

<footer class="footer">
    <img class="icon" src="https://img.icons8.com/cute-clipart/64/000000/twitter.png"/>
    <img class="icon" src="https://img.icons8.com/cute-clipart/64/000000/instagram-new.png"/>
    <img class="icon" src="https://img.icons8.com/cute-clipart/50/000000/facebook-new.png"/>
    <p class="footer-para"><small>Copyrights 2021, TN-Recipes</small></p>
</footer>
</body>
</html>
