

<footer class="footer">
    <a><i class="icon fab fa-facebook-square"></i></a>
    <a><i class="icon fab fa-twitter-square"></i></a>
    <a><i class="icon fab fa-instagram-square"></i></a>
    <p class="footer-para"><small>Copyrights 2021, TN-Recipes</small></p>
</footer>
</body>
</html>
