<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>TN Recipe</title>
  <link rel="stylesheet" href="/css/firstStyleSheets.css">
  <link rel="stylesheet" href="/css/SecondStyleSheets.css">


  <script src="https://kit.fontawesome.com/5b2d801348.js" crossorigin="anonymous"></script>

</head>

<body>
  <div class="main-navbar">
    <a class="close-btn" href="#">x</a>
    <h3><a class="" href="">TN-Recipes</h3></p>
    <h3 class="web-navbar"><a class="" href="">Home</a></h3>
    <h3 class="web-navbar"><a href="">Categories </a></h3>
    <h3 class="web-navbar"><a href="">About</a></h3>
  </div>
  <div class="top-bar">
  <button class="open-btn">☰l</button>
  </div>
  <div class="search-container">
    <p class="web-log">Tin-Recipes</p>
    <input type="search" class="search-input" placeholder="Search for recipes" />
  </div>
