<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>TN Recipe</title>
  <link rel="stylesheet" href="/css/firstStyleSheets.css">
  <link rel="stylesheet" href="/css/SecondStyleSheets.css">


  <script src="https://kit.fontawesome.com/5b2d801348.js" crossorigin="anonymous"></script>

</head>

<body>
  <nav class="main-navbar">
    <h1 class="web-logo"> TN-Recipe </h1>
    <div class="right-navbar">
      <h3 class="web-navbar"><a class="" href="">Home</a></h3>
      <h3 class="web-navbar"><a href="">Categories </a></h3>
      <h3 class="web-navbar"><a href="">About</a></h3>
    </div>
  </nav>

  <div class="search-container">
    <input type="search" class="search-input" placeholder="Search for recipes" />
  </div>
