<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>TN Recipe</title>
  <link rel="stylesheet" href="/css/firstStyleSheets.css">
  <link rel="stylesheet" href="/css/homepage.css">
  <link rel="stylesheet" href="/css/media-queries.css">


   <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/5b2d801348.js" crossorigin="anonymous"></script>

</head>

<div class="recipe-title">
  <div class="navbar">
    <p><a href="#">Home</a></p>
    <p><a href="#">Categories</a></p>
    <p><a href="#">About</a></p>
  </div>
  <div class="web-name">
    <h1>Tin-Recipes</h1>
    <p><q>Recipes to inspire your inner chef</q></p>
    <input class="search-btn" type="search" placeholder="Search for recipes">
  </div>
  <img src="/images/top-background.jpg" alt="">
</div>
<body>
