<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>TN Recipe</title>
  <link rel="stylesheet" href="/css/firstStyleSheets.css">
  <link rel="stylesheet" href="/css/homepage.css">
  <link rel="stylesheet" href="/css/about.css">
  <link rel="stylesheet" href="/css/categories.css">
  <link rel="stylesheet" href="/css/media-queries.css">


   <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Tangerine&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/5b2d801348.js" crossorigin="anonymous"></script>

</head>

<body>

  <ul class="navbar">
    <li><a href="/">Home</a></li>
    <li><a href="/categories">Categories</a></li>
    <li><a href="/about">About</a></li>
  </ul>

  <div class="header">
    <!-- <img class="header-photo" src="images/top-background.jpg" alt="header-photo"> -->
    <h1 class="header-title"><%=title%></h1>
    <p class="header-qoute"><em> <%=webQoute%> </em></p>
    <input class="search-btn" type="text" placeholder="Search for Recipes">
  </div>
