<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TN Recipe</title>

 <link rel="stylesheet" href="/css/post.css">


 <link rel="preconnect" href="https://fonts.gstatic.com">
 <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

  </head>
  <body>

    <nav>
      <p><a href="/">Home</a></p>
      <p><a href="/categories">Categories</a></p>
      <p><a href="/about">About</a></p>
    </nav>
