<%- include('partials/header'); -%>

<div class="recipe-title">
  <div class="navbar">
    <p><a href="#">Home</a></p>
    <p><a href="#">Categories</a></p>
    <p><a href="#">About</a></p>
  </div>
  <div class="web-name">
    <h1>ABOUT PAGE</h1>
    <h6 id="mission">Our Mission</h6>
    <p>is to stand for something good and healthy</p>
  </div>
  <img src="/images/top-background.jpg" alt="">
</div>

<div class="about-content">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec dolor porttitor, venenatis ante in, volutpat magna. Duis magna sapien,
    facilisis at sapien a, aliquet elementum quam. Nam sed metus non nibh dapibus ultricies quis sed elit. Proin
    finibus ligula id leo iaculis semper. Nam aliquam in ligula quis tincidunt. Sed efficitur, elit quis sollicitudin suscipit,
    purus nunc dapibus quam, nec porttitor eros massa non nibh. Etiam elementum mauris at risus consequat vulputate. Maecenas
    tristique nisl diam, ut sagittis massa auctor non. Vestibulum feugiat viverra odio tempor auctor. Duis sit amet justo augue.
    Vivamus lobortis suscipit accumsan. Nam tempor magna ac lectus aliquam, quis hendrerit augue fermentum. </p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec dolor porttitor, venenatis ante in, volutpat magna. Duis magna sapien,
      facilisis at sapien a, aliquet elementum quam. Nam sed metus non nibh dapibus ultricies quis sed elit. Proin
      finibus ligula id leo iaculis semper. Nam aliquam in ligula quis tincidunt. Sed efficitur, elit quis sollicitudin suscipit,
      purus nunc dapibus quam, nec porttitor eros massa non nibh. Etiam elementum mauris at risus consequat vulputate. Maecenas
      tristique nisl diam, ut sagittis massa auctor non. Vestibulum feugiat viverra odio tempor auctor. Duis sit amet justo augue.
      Vivamus lobortis suscipit accumsan. Nam tempor magna ac lectus aliquam, quis hendrerit augue fermentum. </p>

</div>


  <%- include('partials/footer'); -%>
