<%- include('partials/header'); -%>




<div class="marshmallow-div">
  <div class="marshmallow-content">
    <p>Desserts</p>
    <p><q>We have desserts too...</q></p>
  </div>
  <img class="marshmallow-pic" src="/images/marshmallow.png" alt="">
</div>



<%- include('partials/footer'); -%>
