<%- include('partials/header'); -%>


<div class="body-content">
  <div class="food-container top-row right-prt chick-container">
    <h1>Chicken</h1>
    <div class="grid-item">
      <img src="/images/chicken.jpg" alt="chick-pic">
      <h5>Chicken</h5>
    </div>
    <div class="grid-item">
      <img src="/images/chicken.jpg" alt="chick-pic">
      <h5>Food Title</h5>
    </div>
    <div class="grid-item">
      <img src="/images/chicken.jpg" alt="chick-pic">
      <h5>Food Title</h5>
    </div>
    <div class="grid-item">
      <img src="/images/chicken.jpg" alt="chick-pic">
      <h5>Food Title</h5>
    </div>
    <div class="grid-item">
      <img src="/images/chicken.jpg" alt="chick-pic">
      <h5>Food Title</h5>
    </div>
  </div>
  <div class="food-container top-row left-prt beef-container">
    <h1>Beef</h1>
    <div class="grid-item">
      <img src="/images/beef.jpg" alt="beef-pic">
      <h5>Beef</h5>
    </div>
    <div class="grid-item">
      <img src="/images/beef.jpg" alt="beef-pic">
      <h5>Beef</h5>
    </div>
    <div class="grid-item">
      <img src="/images/beef.jpg" alt="beef-pic">
      <h5>Beef</h5>
    </div>
    <div class="grid-item">
      <img src="/images/beef.jpg" alt="beef-pic">
      <h5>Beef</h5>
    </div>
    <div class="grid-item">
      <img src="/images/beef.jpg" alt="beef-pic">
      <h5>Beef</h5>
    </div>
  </div>
   <%# <div class="food-container sec-row right-prt Pork-container">
    <h1>Pork</h1>
    <div class="grid-item">
      <img src="/images/pork.jpg" alt="pork-pic">
      <h5>Pork</h5>
    </div>
    <div class="grid-item">
      <img src="/images/pork.jpg" alt="pork-pic">
      <h5>Pork</h5>
    </div>
    <div class="grid-item">
      <img src="/images/pork.jpg" alt="pork-pic">
      <h5>Pork</h5>
    </div>
    <div class="grid-item">
      <img src="/images/pork.jpg" alt="pork-pic">
      <h5>Pork</h5>
    </div>
    <div class="grid-item">
      <img src="/images/pork.jpg" alt="pork-pic">
      <h5>Pork</h5>
    </div>
  </div>
  <div class="food-container sec-row left-prt Veg-container">
    <h1>Veggies</h1>
    <div class="grid-item">
      <img src="/images/veg.jpg" alt="veggies-pic">
      <h5>Veggies</h5>
    </div>
    <div class="grid-item">
      <img src="/images/veg.jpg" alt="veggies-pic">
      <h5>Veggies</h5>
    </div>
    <div class="grid-item">
      <img src="/images/veg.jpg" alt="veggies-pic">
      <h5>Veggies</h5>
    </div>
    <div class="grid-item">
      <img src="/images/veg.jpg" alt="veggies-pic">
      <h5>Veggies</h5>
    </div>
    <div class="grid-item">
      <img src="/images/veg.jpg" alt="veggies-pic">
      <h5>Veggies</h5>
    </div>
  <%# </div>
  <div class="food-container last-row right-prt other-meat-container">
    <h1>Other meat</h1>
    <div class="grid-item">
      <img src="/images/lamb.jpg" alt="spc-meat-pic">
      <h5>Other meat</h5>
    </div>
    <div class="grid-item">
      <img src="/images/lamb.jpg" alt="spc-meat-pic">
      <h5>Other meat</h5>
    </div>
    <div class="grid-item">
      <img src="/images/lamb.jpg" alt="spc-meat-pic">
      <h5>Other meat</h5>
    </div>
    <div class="grid-item">
      <img src="/images/lamb.jpg" alt="spc-meat-pic">
      <h5>Other meat</h5>
    </div>
    <div class="grid-item">
      <img src="/images/lamb.jpg" alt="spc-meat-pic">
      <h5>Other meat</h5>
    </div>
  </div> %> 
</div>

<%- include('partials/footer'); -%>
