<%- include('partials/header'); -%>

<div class="recipe-title">
  <div class="navbar">
    <p><a href="#">Home</a></p>
    <p><a href="#">Categories</a></p>
    <p><a href="#">About</a></p>
  </div>
  <div class="web-name">
    <h1>Tin-Recipes</h1>
    <p><q>Recipes to inspire your inner chef</q></p>
    <input class="search-btn" type="search" placeholder="Search for recipes">
  </div>
  <img src="/images/top-background.jpg" alt="">
</div>
<div class="top-container-recipe">
  <div class="num1-recipe">
    <p class="grid-item1 top-container-header"><i class="fas fa-award"></i> Recipe of the day</p>
    <img class="grid-item2 num1-food" src="/images/chicken.jpg" alt="">
    <h5 class="grid-item3">Title Food</h5>
    <ul class="grid-item4">
      <li> <input type="checkbox">¼ cup lemon juice</li>
      <li> <input type="checkbox">¼ cup wok oil</li>
      <li> <input type="checkbox">⅛ cup red wine vinegar</li>
      <li> <input type="checkbox">1 tablespoon onion flakes</li>
      <li> <input type="checkbox">1 tablespoon minced garlic</li>
      <a href="#" class="myButton">See full recipe ...</a>
    </ul>
  </div>
  <div class="list-recipes"> <%# flex-column %>
    <p class="top-container-header new-added-header">Newly Added Recipes</p> <%# first column %>
    <div class="newly-added-recipes"> <%# Second column %>
      <div>
        <img class="new-add-items" src="/images/chicken.jpg" alt="">
        <p class="new-rand-list">Food Title</p>
      </div>
      <div>
        <img class="new-add-items" src="/images/chicken.jpg" alt="">
        <p class="new-rand-list">Food Title</p>
      </div>
      <div>
        <img class="new-add-items" src="/images/chicken.jpg" alt="">
        <p class="new-rand-list">Food Title</p>
      </div>
      <div>
        <img class="new-add-items" src="/images/chicken.jpg" alt="">
        <p class="new-rand-list">Food Title</p>
      </div>
      <div>
        <img class="new-add-items" src="/images/chicken.jpg" alt="">
        <p class="new-rand-list">Food Title</p>
      </div>
    </div>
    <p class="top-container-header">Random Recipes</p> <%# third column %>
    <div class="random-recipe"> <%# fourth column %>
      <div>
        <img class="new-add-items" src="/images/chicken.jpg" alt="">
        <p class="new-rand-list">Food Title</p>
      </div>
      <div>
        <img class="new-add-items" src="/images/chicken.jpg" alt="">
        <p class="new-rand-list">Food Title</p>
      </div>
      <div>
        <img class="new-add-items" src="/images/chicken.jpg" alt="">
        <p class="new-rand-list">Food Title</p>
      </div>
      <div>
        <img class="new-add-items" src="/images/chicken.jpg" alt="">
        <p class="new-rand-list">Food Title</p>
      </div>
      <div>
        <img class="new-add-items" src="/images/chicken.jpg" alt="">
        <p class="new-rand-list">Food Title</p>
      </div>
    </div>
  </div>
</div>

<div class="marshmallow-div">
  <div class="marshmallow-content">
    <p>Desserts</p>
    <p><q>We have desserts too...</q></p>
  </div>
  <img class="marshmallow-pic" src="/images/marshmallow.png" alt="">
</div>



<%- include('partials/footer'); -%>
