
.food-choices {
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-content: space-around;
  grid-row: 1;
  grid-column: 2 span;
  width:100%;
}

.categories-btn {
  background-color: #314e52;
  border-radius: 7px;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Poppins';
  text-decoration: none;
  width: 11vw;
  height: 6vh;
  text-align: center;
  padding-top: 5%;
}

.categories-btn:hover {
  background-color: grey;
  color: #314e52;
}

.categories-btn:active {
  position: relative;
  top: 1px;
}

.categories-content {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(270px, auto));
  grid-column-gap: 15px;
  justify-content: space-around;

}
.item-list {
  margin:20px;
}
.item-list:nth-child(odd) {
  border: 1px solid black;
  width:270px;
  height:270px;
  text-align: center;
  padding:15px;
}

.item-list:nth-child(odd) img {
  border: 1px solid red;
  width: 150px;
  height:150px;
  border-radius: 50%;
}

.item-list:nth-child(even) {
  border: 1px solid red;
  width:280px;
  height: 220px;
  padding:15px;
  text-align: center;
  display: grid;
}

.item-list:nth-child(even) p{
  grid-row: 1;
  grid-column: span 2;
}
.item-list:nth-child(even) img {
  width: 150px;
  height:150px;
}

.item-list:nth-child(even) .social-btn {
  display: inline-flex;
    flex-direction: column;
    width: fit-content;
}

/*categories section stylig*/

.section {

  display: none;
}

.chicken-section {
  display:block;
}

/*  NEwly added categories section */

.cat-new-added {
  display: flex;
  flex-wrap: no-wrap;
  overflow-x: auto;
  padding: 10px;
  border: 1px solid black;
  width:90vw;
  position: relative;
  left: 5vw;
}

.cat-new-added img {
  height: 80px;
  width:80px;
}

.cat-list {
  flex: 0 0 auto;
  height: 200px;
  width: 200px;
  border: 1px dashed black;
  margin:10px;
}
