.categories-body {
  display: flex;
  flex-direction: row;
  padding: 2%;
}

.food-choices {
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-content: space-around;
  grid-row: 1;
  grid-column: 2 span;
  width:100%;
}

.categories-btn {
  background-color: #314e52;
  border-radius: 7px;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Poppins';
  text-decoration: none;
  width: 11vw;
  height: 6vh;
  text-align: center;
  padding-top: 5%;
}

.categories-btn:hover {
  background-color: grey;
  color: #314e52;
}

.categories-btn:active {
  position: relative;
  top: 1px;
}
