body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.top-bar {
    background-color: #7f007f;
    padding: 10px;
    position: absolute;
    width: 39px;
    height: 100vh;
    top: 0;
}


.main-navbar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #7f007f;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;
}

.main-navbar a {
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  padding: 8px 8px 32px;
}

.main-navbar a:hover {
  color: grey;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 35px;
}

.open-btn {
    font-size: 28px;
    cursor: pointer;
    background-color: inherit;
    color: white;
    border: none;
}

.open-btn:hover {
  background-color: #444;
}

/*Search Bar */
.search-container {
  text-align: -webkit-right;
  position: absolute;
  top: 0;
  width: 59%;
  right: 0%;
  padding-right: -13px;
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
}

.search-input {
  border: 2px solid #ccf2f4;
  border-radius: 20px;
  width: 47%;
  height: 5vh;
  text-align: center;
  box-shadow: 0px 0px 5px 4px #b7d9db;
}

.search-input:focus {
  outline: none;
}

::placeholder {
  text-align: center;
  font-style: oblique;
  font-weight: bold;
}

.web-log {
  display: inline;
  margin: 0;
  margin-top: 15px;
}

/* FOOTER */
.footer {
  text-align: center;

.icon {
  height: 25px;
  width: 25px;
  margin: 10px 8px 5px;
  cursor: pointer;
}

.footer-para {
  margin: 0;
}
