body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.top-bar {
    background-color: #7f007f;
    padding: 10px;
    position: absolute;
    width: 39px;
    height: 100vh;
    top: 0;
    text-align: center;
}



.main-navbar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #7f007f;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 20px;
  transition: 0.9s;
}


.main-navbar a {
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  padding: 8px 8px 32px;
}

.main-navbar a:hover {
  color: grey;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 35px;
}

.open-btn {
    font-size: 28px;
    cursor: pointer;
    background-color: inherit;
    color: white;
    border: none;
    margin: 0;
}

.open-btn:hover {
  background-color: #444;
}

/*Search Bar */
.search-container {
    position: absolute;
    top: 0;
    width: 55%;
    right: 1%;
    padding-right: -13px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.search-input {
    border: 1px solid #7f007f;
    border-radius: 20px;
    width: 47%;
    height: 5vh;
    text-align: center;
    box-shadow: 0px 1px 2px 1px #4c004c;
}

.search-input:focus {
  outline: none;
}

::placeholder {
  text-align: center;
  font-style: oblique;
  font-weight: bold;
  color: #4c004c;
}

.web-log {
  display: inline;
  margin: 0;
  margin-top: 15px;
}

/* FOOTER */
.footer {
  text-align: center;
}
.top-bar .icon {
    font-size: 26px;
    color: white;
    position: relative;
    top: 54%;
    text-align: center;
    margin-top: 36px;
}

.icon-open-navbar {
    display: flex;
    justify-content: space-between;
    padding: 9%;
    position: relative;
    top: 42%;
}

.icon-open-navbar i {
  font-size: 19px;
}

.footer-para {
  margin: 0;
}
