/* csslint ignore:start*/
:root {
  --topbar-bgcolor: #314e52;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.top-bar {
  background-color: var(--topbar-bgcolor);
  padding: 10px;
  width: 4em;
  text-align: center;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
}

.main-navbar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #314e52;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 20px;
  transition: 0.9s;
}

.main-navbar a {
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  padding: 8px 8px 32px;
}

.main-navbar a:hover {
  color: grey;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 35px;
}

.open-btn {
  font-size: 28px;
  cursor: pointer;
  background-color: inherit;
  color: white;
  border: none;
  margin: 0;
}

.open-btn:hover {
  background-color: #444;
}

/*Search Bar */
.search-container {
  position: relative;
  top: 0;
  width: 62%;
  left: 37%;
  padding-right: -13px;
  padding-top: 22px;
  display: flex;
  justify-content: space-between;
}

.search-input {
  border: 0 ridge #314e52;
  border-radius: 20px;
  width: 33%;
  height: 5vh;
  text-align: center;
  box-shadow: 0px 1px 11px 0px #314e52;
}

.search-input:focus {
  outline: none;
}

::placeholder {
  text-align: center;
  font-style: oblique;
  font-weight: bold;
  color: #314e52;
}

.web-log {
  font-size: 2rem;
  margin-top: 0;
  letter-spacing: 4px;
}

/* FOOTER */
.footer {
  text-align: center;
}

.top-bar .icon {
  font-size: 26px;
  color: white;
  position: relative;
  top: 54%;
  text-align: center;
  margin-top: 36px;
}

.icon-open-navbar {
  display: flex;
  justify-content: space-between;
  padding: 18%;
  position: relative;
  top: 42%;
  box-sizing: border-box;
  right: 17%;
  left: 0px;
}

.icon-open-navbar i {
  font-size: 19px;
}

.footer-para {
  margin: 0;
}
