.main-section {
  display: flex;
  flex-flow: row;
}

.top-recipe-left {
  width: 50%;
    border: 1px solid black;
    height: fit-content;
}
.top-item img{
  width: 80px;
  height: 80px;
}

.top-recipe-right {
  display: flex;
  flex-flow: column;
  border: 1px solid black;
  width: 50%;
}

.most-viewed, .random-added {
  display: grid;
  grid-template-columns: repeat(4, auto);
}



/* marshmallow div */

.marshmallow-div {
    width: 100%;
    position: relative;
    z-index: -1;
    margin-top:15px;
    height:25em;
    margin-bottom: 20px;
    height: 75vh;

}

.marshmallow-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 40%;
    top: 10%;
    text-align: center;
}

.marshmallow-content p:first-child {
    width: 100%;
    font-family: var(--font-family);
    font-size: 4rem;
    letter-spacing: 37px;
    position: relative;
    right: 25%;
    color: var(--txt-color);
    margin-bottom: 0;
}

.marshmallow-content p:nth-child(2n) {
    position: relative;
    right: 33%;
    color: var(--txt-color);
    font-family: var(--font-family);
}

.marshmallow-pic {
  width: 100%;
  position: absolute;
  z-index: -1;
}
