.body-content {
  text-align: center;
}

.food-container {
  display: inline-grid;
  border: 1px black;
  grid-template-columns: repeat(4, auto);
  margin: 2rem 10px;
  box-sizing: border-box;
  padding: 10px;
  grid-gap: 1rem;
  box-shadow: 0px 0px 15px 2px grey;
  border-radius: 8%;
}

.body-content img {
  height: 100px;
  width: 100px;
}

.body-content h1 {
  grid-row: 1;
  grid-column: 1 / span 4;
  margin: 0;
}

.grid-item {
  padding: 5%;
}
